:root {
  --header-height: 80px;
  --base-radius: 8px;
  --color-palete-1: #f67b6f;
  --color-palete-2: #4b7371;
  --low-priority-font-color: #6d6d6d;
}

html {
  scroll-behavior: smooth;
}

* {
  position: relative;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
}

.hidden {
  display: none !important;
  opacity: 0;
}

.prototype {
  display: none !important;
}

img {
  max-width: 100%;
}

@media (min-width: 1230px) {
  .mobile {
    display: none !important;
  }
}

@media (max-width: 1229px) {
  .desktop {
    display: none !important;
  }
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 37px;
  line-height: 1.3;
}

@media (min-width: 375px) {
  .h1 {
    font-size: 45px;
  }
}

h2 {
  font-family: "Playfair Display", serif;
  margin-top: 55px;
  font-size: 33px;
  line-height: 1.2;
  letter-spacing: 1px;
}

h3 {
  font-family: "Montserrat", sans-serif;
}

.center {
  text-align: center;
}

.button {
  user-select: none;
  border-radius: var(--base-radius);
  cursor: pointer;
  padding: 10px 20px;
  font-size: 20px;
  background-color: var(--color-palete-1);
  color: white;
  letter-spacing: 1px;
  display: inline-block;
}

.bold {
  font-weight: bold;
}

.loading {
  background: #f2f1f1;
  min-height: 30px;
  overflow: hidden;
  color: transparent !important;
}

.loading * {
  opacity: 0;
}

.loading.img-wrapper {
  border-radius: 50% !important;
}

.loading::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, transparent, #dedede, transparent);
  transform: translateX(-100%);
  z-index: 2;
  animation: loading 1s infinite;
}

@keyframes loading {
  100% {
    transform: translateX(100%);
  }
}

.main {
  margin: auto;
}

.main .content {
  padding: 10px 10px;
  max-width: 700px;
}

header {
  height: var(--header-height);
}

header .navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  background: #fff;
}

header .navbar .logo img {
  display: block;
  width: 60px;
}

.main .hero-container {
  background-image: url("https://images03.nicepage.com/a1389d7bc73adea1e1c1fb7e/216e92cd4d8950deab4cb5b5/natureforesttreesfog.jpg");
  background-position: 50% 50%;
  min-height: calc(100vh - var(--header-height));
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.main .hero-container h3 {
  text-transform: uppercase;
  margin: 0px;
}

.main .hero-container .content {
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main .hero-container .content img {
  margin-top: auto;
  opacity: 0.7;
}

@media (min-width: 375px) {
  .main .hero-container .content img {
    max-width: 340px;
  }
}

@media (min-width: 1280px) {
  .main .hero-container .content {
    justify-content: space-between;
  }
  .main .hero-container .content img {
    margin-top: 0;
  }
}

.main .weather {
  background: var(--color-palete-1);
}
.main .weather .content {
  margin: auto;
}
.main .weather .info-container {
  min-height: 220px;
}

.main .weather h2 {
  color: #fff;
}

.main .weather .form {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.main .weather .form input.search {
  border-radius: var(--base-radius);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  outline: none;
  border: none;
  padding-left: 15px;
  flex: 1 1 auto;
  width: calc(100% - 100px);
  margin-bottom: 15px;
}

.main .weather .form .button {
  background-color: #48484a;
  border-color: #48484a;
  color: #f2f2f2;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.main .weather .infos {
  background-color: #fff;
  border-radius: var(--base-radius);
  margin-top: 15px;
  padding: 15px;
}

.main .weather .infos > div {
  margin: 5px 0px;
}

.main .weather .infos .request-time {
  color: var(--color-palete-2);
}

.main .weather .infos .city .value {
  text-transform: capitalize;
}

.main .weather .infos .coordinates {
  font-size: 12px;
  color: var(--low-priority-font-color);
  flex-basis: 8ch;
  line-height: 16px;
}

.main .weather .infos .coordinates > div {
  display: inline-block;
}

.main .weather .infos .icon {
  width: 16px;
}

.main .weather .infos .general-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.main .weather .infos .current-temp {
  display: flex;
  justify-content: space-between;
}

.main .weather .infos .current-temp .wrapper {
  display: flex;
  align-items: center;
  font-size: 36px;
  color: var(--color-palete-2);
  font-weight: 700;
}

.main .weather .infos .current-temp img {
  max-width: 60px;
  min-width: 60px;
  filter: drop-shadow(0px 0px 3px #0000009f);
}

.main .weather .infos .data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-right: -15px;
}

.main .weather .infos .data.loading {
  margin-right: 0;
}

.main .weather .infos .data > div {
  margin-right: 15px;
  display: flex;
  align-items: center;
  color: var(--low-priority-font-color);
  margin-bottom: 10px;
}

.main .weather .infos .data .value {
  color: var(--color-palete-2);
  font-weight: 700;
  margin-right: 5px;
}

.main .weather .infos .data .value.direction {
  margin-left: 7px;
}

@media (min-width: 375px) {
  .main .weather .infos .current-temp .value {
    margin-right: 10px;
  }
}

@media (min-width: 480px) {
  .main .weather .infos .data-header {
    display: flex;
    justify-content: space-between;
  }
  .main .weather .infos .data-header .general-info {
    order: 2;
  }
  .main .weather .infos .data-header .current-temp {
    order: 1;
  }
  .main .weather .infos .current-temp .img-wrapper {
    margin-right: 25px;
  }
}
